.categories {
  &__title {
    @include on-tablet {
      width: 50%;
    }
  }
  &__wrapper {
    display: grid;
    row-gap: 40px;

    &--btn {
      width: 100%;
      padding: 14.5px 0;
      font-size: 16px;
      line-height: 27px;
      border: 1px solid transparent;
      border-radius: 8px;

      @include button-styles;

      @include on-desktop {
        width: auto;
        padding: 14.5px 133px;
      }
    }

    @include on-tablet {
      row-gap: 56px;
    }
  }
}

.category {
  &__photos {
    @include page-grid;

    margin-bottom: 16px;
  }
  &__link {
    @include hover(transform, scale(1.05));

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }
  &__photo {
    width: 100%;
  }
  &__title {
    margin: 0;
    font-size: 24px;
    line-height: 140%;
    font-weight: 700;
  }
}
