@import './utils/variables';
@import './utils/mixins';
@import 'blocks/nav';
@import 'blocks/page';
@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/icon';
@import 'blocks/top-bar';
@import 'blocks/section-title';
@import 'blocks/recommended';
@import 'blocks/product';
@import 'blocks/categories';
@import 'blocks/about-us';
@import 'blocks/contact';
@import 'blocks/contact-info';

p {
  margin: 0;
}

.main {
  background-color: #fff;

  &__content {
    display: grid;
    row-gap: 96px;
    padding-block: 64px;

    @include on-tablet {
      padding-block: 120px;
      row-gap: 120px;
    }
  }

  &__content--about-us {
    padding-block: 0;
    padding-top: 32px;
  }
}
